@model DronWeb.Models.ViewModels.AddLocalizatonViewModel
@{
    ViewBag.Title = Model.heading;
}

<h1 class="heading">@Model.heading</h1>
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/bundles/modernizr")
<style>

    .tableAddLokalization {
        margin-left: 30%;
        position: relative;
        z-index: 2;
    }

    .textArea {
        position: absolute;
        left: 300px;
        margin-top: 20px;
    }
    .form{
        max-width:50%;
        float:left;
        position:sticky;
    }
    #map{
        float:left;
        max-width:50%;
        position:sticky;
    }
</style>


<h2 style="text-align:center;">Dodawanie nowej lokalizacji</h2>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<div class="localizationPosition">
    <img class="localizationPositionimage" src="~/images/localizationposition.jpg" alt="logo" />

    


    <div class="tableAddLokalization">





        <div class="form">

        @using (Html.BeginForm("AddLocalization", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <p class="alert alert-info mb-4 mt-4 col-6 ">
                Pola Nick, miasto, województwo, wykorzystany sprzęt i opis są
                wymagane
            </p>

            @Html.HiddenFor(x => x.Localization.Id)
            <div class="row">


                <div class="row-cols-lg-2">
                    @Html.ValidationMessageFor(x => x.Localization.Name)
                    @Html.LabelFor(x => x.Localization.Name, new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.Localization.Name, new { @class = "form-control", autofocus = "autofocus" })

                </div>

                <div class="rows-lg-2">
                    @Html.ValidationMessageFor(x => x.Localization.City)
                    @Html.LabelFor(x => x.Localization.City, new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.Localization.City, new { @class = "form-control" })

                </div>

                <div class="rows-lg-2">
                    @Html.ValidationMessageFor(x => x.Localization.ProvinceId)
                    @Html.LabelFor(x => x.Localization.ProvinceId, new { @class = "form-label" })
                    @Html.DropDownListFor(x => x.Localization.ProvinceId,
                   new SelectList(Model.Provinces, "Id", "Name"), "--wybierz województwo--",
                   new { @class = "form-control" })

                </div>



                <div class="rows-lg-2">
                    @Html.ValidationMessageFor(x => x.Localization.equipment)
                    @Html.LabelFor(x => x.Localization.equipment, new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.Localization.equipment, new { @class = "form-control" })
                </div>

                <div class="textArea col-5">
                    @Html.ValidationMessageFor(x => x.Localization.description)
                    @Html.TextAreaFor(x => x.Localization.description, new { @class = "form-control", placeholder = "Opis lokalizacji", rows = "10" })

                </div>
                <div class="rows-lg-2">


                    @Html.TextBoxFor(x => x.Localization.latitude, new { @id = "latitude" })
                    @Html.TextBoxFor(x => x.Localization.longitude, new { @id = "longitude" })

                </div>
            </div>
            <div class="row">

            </div>




            <div class="input-group mt-3">
                <input type="file" class="form-control" id="image" name="image" />
            </div>
            <br />

            <div class="buttonAddLocalization">
                <input type="submit" class="btn btn-primary btn-lg mb-5" />

            </div>
        }
            </div>

        <div id="map" style="height:500px; width:400px; cursor:pointer;"></div>

    </div>

</div>

<script>
    var map = L.map('map').setView([52.028, 19.545], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    map.on('click', function (e) {
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;

        // Wprowadź współrzędne do textboxów
        document.getElementById('latitude').value = lat;
        document.getElementById('longitude').value = lng;
    });

</script>
