@model IEnumerable<DronWeb.Models.Domains.Localization>

@{
    ViewBag.Title = "Lokalizacja";
}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/bundles/modernizr")
<style>
    .tablee {
        width: 1000px;
        position: relative;
        align-content: center;
        left: 10%;
        margin: 50px;
        table-layout: fixed;
    }

    .headtable {
        border-bottom: 1px solid;
        width: 1000px;
    }

    Addimg {
        position: absolute;
        left: 50%;
    }

    addlocalizationlayout {
        display: table-row;
    }

    .tableHad {
        position:relative;
        left:500px;
        top:50px;
        
    }
</style>


<div id="localization">

    @if (Model != null && Model.Any())
    {
        if (Model != null)
        {

            <table class="tableHad">
                <tr>
                    <th>
                       @Html.ActionLink("miasto", "Localization", "Home", "City" , new { sortBy = ViewBag.SortCityParameter, @class = "btn btn-primary"})
                    </th>
                    <th>
                        @Html.ActionLink("CreatedDate", "Localization", new {sortBy = ViewBag.DateSortParm, @class = "btn  btn-primary"})
                    </th>
                    <th>
                        @using (Html.BeginForm("Localization", "Home", FormMethod.Get))
                        {
                            @*<b></b> @Html.RadioButton("searchBy", "City") <label> Miasto </label>
                                <b></b> @Html.RadioButton("searchBy", "Province") <label> Województwo </label>*@

                            <input type="text" name="search" placeholder="szukaj" />
                            <input type="submit" value="Szukaj" class="btn btn-outline-primary" />

                            @*@Html.TextBox("search") <input type="submit" value="Szukaj" id="txtSearch" />*@
                        }
                    </th>
                    <th>
                        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                        {
                            @Html.DropDownList("SelectedProvinces", ViewBag.Provinces as SelectList,
                           "Wybierz województwo",
                           new { id = "SelectProvince" })

                            <input type="submit" value="Szukaj" class="btn btn-outline-primary"/>
                        }
                    </th>
                </tr>
            </table>

            foreach (var localization in Model)
            {



                <table class="tablee" id="filter">



                    <tr class="headtable">
                        <th scope="col" style="font-size:small;"><strong>Autor</strong></th>
                        <th scope="col" style="font-size:small;"><strong>Miasto</strong></th>
                        <th scope="col" style="font-size:small;"><strong>Województwo</strong></th>
                        <th scope="col" style="font-size:small;"><strong>Wykorzystany sprzęt</strong></th>
                        <th scope="col" style="font-size:small;"><strong>data</strong></th>
                        <th>
                            <button class="btn btn-danger" btn-sm id="Update"
                                    onclick="deleteLocalization('@localization.Id', this)">
                                Usuń
                            </button>
                        </th>
                        <th>
                            <a class="btn btn-primary" href="@Url.Action("AddLocalization", "Home", new { id = localization.Id })">edycja</a>
                        </th>
                        @*@using (Html.BeginForm("Update", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <th>
                                    <button class="btn btn-light" btn-sm>
                                        Edytuj
                                    </button>
                                </th>
                            }*@

                    </tr>


                    <tr class="">

                        <th style="font-weight:normal;">
                            @localization.Name
                        </th>
                        <th style="font-weight:normal;"> @localization.City</th>
                        <th style="font-weight:normal;"> @localization.provinces.Name</th>
                        <th style="font-weight:normal;"> @localization.equipment</th>
                        <th style="font-weight:normal;">@localization.CreatedDate.ToString("dd-MM-yyyy")</th>

                    </tr>






                    <tr>
                        <th scope="col">Opis</th>
                        <th colspan="2" style="font-weight:normal;"> @localization.description</th>

                        @if (localization.Image != null)
                        {
                            <th rowspan="1" class="LocalizationtableImg">
                                <img src="@Url.Action("RetriveImage", "Home", new { id = localization.Id })"
                                     style="width: 400px; height: auto; margin-top: 10px; cursor: pointer; "
                                     onclick="openFullImg(this.src)"
                                     alt="Nie wybrano zdjęcia" />
                            </th>
                        }
                        else
                        {
                            <th>
                                Nie wybrano zdjęcia
                            </th>
                        }


                    </tr>


                </table>
            }




        }
        else
        {
            <div>
                brak pozycji
            </div>
        }
    }


    <div class="full-img" id="fullimgbox">
        <img src="./image/img.jpg" id="fullImg" />
        <span class="buttonX" onclick="closeFullImg()">Zamknij</span>
    </div>

</div>

<script>

    var fullimgbox = document.getElementById("fullimgbox");
    var fullImg = document.getElementById("fullImg");

    function openFullImg(pic) { /*pic wybiera klikniete zdjecie*/
        fullimgbox.style.display = "flex";
        fullImg.src = pic;
    }

    function closeFullImg() {
        fullimgbox.style.display = "none";
    }




</script>

@section Scripts
{
    <script type="text/javascript">
        function deleteLocalization(id, btn) {

            if (!confirm("czy na pewno chcesz usunąć lokalizacje?"))
            {
                return;
            }

            $.ajax({ /*// sluzy do odswiezania danych automatycznie bez odświeżania strony*/
                type: 'POST',
                url: "@Url.Action("Delete", "Home")",
                data: {
                    Id: id
                },
                success: function (data) {
                    if (data.success) {
                        var table = btn.parentNode.parentNode.parentNode;
                        table.parentNode.removeChild(table); /*usuwanie tabeli z widoku (parent oznacza że wchodzi w th, a jesli są dwa to wchodzi do tr)*/
                    } else {
                        alert(data.Message);
                    }

                },
                error: function (data) {
                    alert(data.Message);
                },
                dataType: 'json'

            });
        }

    </script>




    <script type="text/javascript">
        function preview_image(event) {

            document.getElementById('output_image').style.display = 'block';
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output_image');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        };




    </script>





}




